
.login-left-box{
    background-image: url(../../../../../assets/images/login.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px 0px 0px 8px;
}


.outer-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.inner-container{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}