<div class="d-flex justify-content-between px-3 my-2">
    <p class="title">Fees</p>
    <button class="btn btn-primary" (click)="addFees()" *ngIf="role=='INSTITUTE_ADMIN'">
        <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Add Fees
    </button>
</div>
<div class="card m-2 mt-3 p-4">
    <div class="d-flex justify-content-between">
        <div>
            <!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="toggleValue">
                <mat-button-toggle value="card">
                    <mat-icon color="primary">dashboard</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="table">
                    <mat-icon color="primary">table_rows_narrow</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group> -->
        </div>
        <div class="d-flex align-items-center">
            <!-- <div style="width: 300px;" class="mt-2 me-3">
                <div class="form-field">
                    <label class="label">Class</label>
                    <select class="form-select w-100" name="subject" (change)="filterFees()" [(ngModel)]="selectedClass"
                        #subject="ngModel">
                        <option *ngFor="let class of classes" [value]="class.id">{{class.name}}</option>
                    </select>
                </div>
            </div> -->
            <div class="input-group flex-nowrap">
                <span class="input-group-text">
                    <i class="material-icons icon">search</i>
                </span>
                <input placeholder="Search" type="text" class="form-control" style="width: 350px;"
                    [(ngModel)]="filterFeestext" #searchFee="ngModel" name="searchFee" (keyup)="filterFees()">
            </div>
        </div>
    </div>

    <div *ngIf="toggleValue == 'card'" class="row mt-2 pb-3" style="max-height: 69vh; overflow: auto;">
        <div class="col-3 my-2 px-4" *ngFor="let data of filteredFees">
            <mat-card class="shadow mt-1">
                <div class="img-download">
                    <!-- <img mat-card-image class="w-100" [src]="data.photoUrl" style="object-fit: cover;" alt="image"
                        height="135px"> -->
                    <a *ngIf="role=='INSTITUTE_ADMIN'">
                        <button mat-icon-button title="Edit" (click)="editFees(data.id!)">
                            <mat-icon style="color: #8472FC;">edit_square</mat-icon>
                        </button>
                        <button mat-icon-button title="Delete" (click)="deleteFees(data.id!)">
                            <mat-icon style="color: #fa5757;">delete</mat-icon>
                        </button>
                    </a>
                </div>

                <div class="row mt-2 mb-4 ps-2">
                    <div class="row">
                        <div class="col-5">
                            <span style="font-weight: 500;">Class</span>
                        </div>
                        <div class="col-6 ms-2">
                            <div [title]="data.associationName" class="ellipse">{{data.associationName}}</div>
                        </div>
                    </div>
                    <!-- <div class="row mt-2">
                        <div class="col-5">
                            <span style="font-weight: 500;">Phone</span>
                        </div>
                        <div class="col-6 ms-2">
                            <div [title]="data.phone" class="ellipse">{{data.phone}}</div>
                        </div>
                    </div> -->
                </div>
            </mat-card>
        </div>
    </div>

    <div *ngIf="toggleValue == 'table'" class="mt-4">
        <ngx-datatable #dataTable class="material striped" [rows]="filteredFees" [headerHeight]="40" [footerHeight]="50"
            rowHeight="auto" [columnMode]="ColumnMode.force" [count]="10">
            <ngx-datatable-column name="#" [width]="70" [canAutoResize]="false">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span>{{ rowIndex + 1 }}</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Class" prop="associationName" [width]="200">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <div class="d-flex align-items-center">
                        <span>{{ value }}</span>
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Total Fee" prop="totalFee" [width]="200">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span>{{ value | currency:'INR':'symbol':'1.2-2'}}</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Action" prop="id" [width]="200" *ngIf="role=='INSTITUTE_ADMIN'">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <div class="d-flex">
                        <i class="fa-solid fa-pen-to-square pointer ms-3" style="color: #1b3e99;"
                            (click)="editFees(value)"></i>
                        <i class="fa fa-trash text-danger ms-3 pointer" (click)="deleteFees(value)"></i>
                    </div>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </div>
</div>