.form-select-sm:focus-visible{
    outline: none;
    box-shadow: none;
}
.form-control-sm:focus-visible{
    outline: none;
    box-shadow: none;
}

.form-control:focus{
    outline: none;
    box-shadow: none;
}


:focus {
  outline: none;
}

.input-effect {
  position: relative;
}

input[type="number"],input[type="text"],select {
  font: 15px/24px;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  background: transparent;
  font-family: Roboto, FontAwesome;
}

.border-effect {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

.border-effect~.focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #1b3e99;
  transition: 0.4s;
}

.border-effect:focus~.focus-border {
  width: 100%;
  transition: 0.4s;
}
