// .file-list {
//   display: flex;
//   padding: 7px;
//   // border: 1px solid rgb(183, 183, 183);
//   border-radius: 7px;
//   // height: 50px;
//   // width: 100%;
//   // max-width: 100%;
//   overflow: auto;
//    
// }


// .file-item {
//   display: flex;
//   align-items: center;
//   margin-right: 10px;
//   padding: 5px;
//   cursor: pointer;
//   border: 1px solid rgb(194, 193, 193);
//   border-radius: 7px;
//   //  max-width: 200px;
// }

// .file-item span:hover {
//   text-decoration: underline;
// }

// select:disabled
// {
//     background-color: white;
// }


.file-container {
  display: flex;
  // flex-direction: column;
  gap: 10px;
  margin: 20px;
  margin: 10px;
  max-width: 700px;
  overflow: auto;
  scrollbar-width: none !important;
}

.file-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  height: 170px;
}

.file-item:hover {
  background-color: #f5f5f5;
}

.file-icon {
  font-size: 24px;
  position: relative;
}

.file-name {
  border-top: 1px solid #ddd;
  font-size: 16px;
  color: #333;
  padding: 0px 10px;
}

.files {
  color: #007bff;
  height: 100px;
  font-size: 70px;
  margin-top: 25px !important;
  opacity: 60%;
}

i.fa-file-pdf {
  color: #e74c3c;
}

i.fa-file-excel {
  color: #27ae60; 
}

i.fa-file-word {
  color: #2980b9;
}

ellipse{
  width: 150px !important;
}

.cross{
  font-size: 13px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

img{
  width: 165px;
  object-fit: cover;
  height: 140px;
  opacity: 60%;
}








































//  <form #notesForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="status!='View'">
//             <div class="row">
//                 <div class="col-6">
//                     <div class="form-field mt-2">
//                         <label class="label">Title*</label>
//                         <input type="text" class="form-control" name="title" [(ngModel)]="data.title" #title="ngModel"
//                             required
//                             [ngClass]="{'is-invalid':title.touched && title.errors && title.errors['required']}">
//                         <p *ngIf="title.touched && title.errors && title.errors['required']" class="validation-error ">
//                             Title is required
//                         </p>
//                     </div>
//                 </div>
//                 <div class="col-6">
//                     <div class="form-field mt-2">
//                         <label class="label">Class</label>
//                         <select name="class" [(ngModel)]="data.associationId" class="form-select" #class="ngModel"
//                             (change)="filterSubjects()">
//                             <option *ngFor="let class of classes" [value]="class.id">{{class.name}}</option>
//                         </select>
//                     </div>
//                 </div>
//                 <div class="col-6" *ngIf="data.associationId && filteredSubjects.length>0">
//                     <div class="form-field mt-4">
//                         <label class="label">Subject</label>
//                         <select name="subject" [(ngModel)]="data.subjectId" class="form-select" #subject="ngModel"
//                             (click)="filterChapters()">
//                             <option *ngFor="let subject of filteredSubjects" [value]="subject.id">{{subject.name}}
//                             </option>
//                         </select>
//                     </div>
//                 </div>
//                 <div class="col-6" *ngIf="data.subjectId && filteredChapters.length>0">
//                     <div class="form-field mt-4">
//                         <label class="label">Chapter</label>
//                         <select name="chapter" [(ngModel)]="data.chapterId" class="form-select" #chapter="ngModel">
//                             <option *ngFor="let chapter of filteredChapters" [value]="chapter.id">{{chapter.name}}
//                             </option>
//                         </select>
//                     </div>
//                 </div>
//                 <div class="col-6">
//                     <div class="form-field mt-4">
//                         <label class="label">Desctription</label>
//                         <textarea class="form-control" rows="3" style="height: 100%;" name="description"
//                             [(ngModel)]="data.description" #description="ngModel"></textarea>
//                     </div>
//                 </div>
//                 <div class="col-6">
//                     <div class="mt-4">
//                         <input type="file" multiple id="file" (change)="selectFiles($event)" hidden>
//                         <button type="button" class="btn btn-primary" (click)="chooseFiles()"
//                             *ngIf="details.type!='View'">Choose Files</button>
//                     </div>
//                 </div>

//                 <!-- <div class="col-12 d-flex mt-2" *ngIf="selectedFiles && selectedFiles.length>0">
//                     <div class="file-list ">
//                         <div class="file-item" *ngFor="let file of selectedFiles;let idx=index">
//                             <span class="ellipse" (click)="openFile(file)" [title]="file.name">{{ file.name }}</span>
//                             <i class="fa-regular fa-x pointer ms-2 pointer" (click)="removeFile(idx)"></i>
//                         </div>
//                     </div>
//                 </div>
//                 <div class="col-12 d-flex mt-2" *ngIf="getNotes.files && getNotes.files.length>0">
//                     <div class="file-list ">
//                         <div class="file-item" *ngFor="let file of getNotes.files;let idx=index">
//                             <span class="ellipse" (click)="openGetFile(file.filePath!)" [title]="file.fileName">{{
//                                 file.fileName
//                                 }}</span>
//                             <i class="fa-regular fa-x pointer ms-2" (click)="removeGetFile(file.id!)"></i>
//                         </div>
//                     </div>
//                 </div> -->
//             </div>
//         </form>
//         <div class="d-flex" style="flex-wrap: wrap;">
//             <div class="d-flex mt-2" style="flex-wrap: wrap;" *ngIf="selectedFiles && selectedFiles.length>0">
//                 <div class="file-list" style="flex-wrap: wrap;">
//                     <div class="file-item my-2" *ngFor="let file of selectedFiles;let idx=index">
//                         <span class="ellipse" [title]="file.name">
//                             <!-- <span class="ellipse" (click)="openFile(file)" [title]="file.name"> -->
//                             {{ file.name }}
//                         </span>
//                         <i class="fa-regular fa-x pointer ms-2 pointer" (click)="removeFile(idx)"
//                             *ngIf="details.type!='View'"></i>
//                     </div>
//                 </div>
//             </div>
//             <div class="d-flex mt-2" style="flex-wrap: wrap;" *ngIf="getNotes.files && getNotes.files.length>0">
//                 <!-- <div class="file-list " style="flex-wrap: wrap;">
//                     <div class="file-item my-2" *ngFor="let file of getNotes.files;let i=index">
//                         <span class="ellipse" (click)="openGetFile(file.filePath!)" [title]="file.fileName">
//                             {{ file.fileName }}
//                         </span>
//                         <i class="fa-regular fa-x pointer ms-2" (click)="removeGetFile(file.id!,i)"
//                             *ngIf="details.type!='View'"></i>
//                     </div>
//                 </div> -->

//                 <div>
//                     <!-- <div style="display: flex;" *ngFor="let file of getNotes.files;let i=index">
//                         <div class="file-item" (click)="openFile(file.filePath!)">
//                             <div class="file-icon">
//                                 <div class="d-flex justify-content-center align-items-center" style="height: 140px;">
//                                     <ng-container [ngSwitch]="file.fileType" class="files">
//                                         <i *ngSwitchCase="'application/pdf'" class="fa-regular fa-file-pdf files"></i>
//                                         <i *ngSwitchCase="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"
//                                             class="fa-regular fa-file-excel"></i>
//                                         <i *ngSwitchCase="'application/msword'" class="fa-regular fa-file-word"></i>
//                                         <img *ngSwitchCase="'image'" class="fa-regular fa-file-word"
//                                             [src]="file.filePath">
//                                         <img *ngSwitchDefault class="fa-regular fa-file" [src]="file.fileName">
//                                     </ng-container>
//                                 </div>
//                             </div>
//                             <div class="file-name ellipse">{{ file.fileName }}</div>
//                         </div>
//                     </div> -->


//                 </div>
//             </div>
//         </div>

//         <!-- <div class="d-flex justify-content-center align-items-center" style="height: 140px;">
//             <ng-container [ngSwitch]="file.fileType" class="files">
//                 <i *ngSwitchCase="'application/pdf'" class="fa-regular fa-file-pdf files"></i>
//                 <i *ngSwitchCase="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"
//                     class="fa-regular fa-file-excel"></i>
//                 <i *ngSwitchCase="'application/msword'" class="fa-regular fa-file-word"></i>
//                 <img *ngSwitchCase="'image'" class="fa-regular fa-file-word" [src]="file.filePath">
//                 <img *ngSwitchDefault class="fa-regular fa-file" [src]="file.fileName">
//             </ng-container>
//         </div> -->
