.form-control:focus {
  outline: none;
  box-shadow: none;
}

.form-select:focus {
  outline: none;
  box-shadow: none;
}

.profile-img {
  height: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: contain;
  margin-right: 5px;
}