.ellipse {
  text-overflow: ellipsis;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.next-previous-circle {
  height: 40px;
  width: 40px;
  background-color: rgb(183, 183, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.text-active {
  font-size: 16px;
  font-weight: 500;
  color: rgb(183, 183, 252);
}

.text-normal {
  font-size: 16px;
  font-weight: 500;
}





.example-list {
  width: 500px;
  max-width: 100%;
  //   border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  //   background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  border-radius: 7px;
  padding: 10px 5px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: rgb(248, 248, 248);
  font-size: 14px;
  margin-bottom: 10px;
}

.example-box:hover {
  background-color: rgb(242, 242, 242);
}

.example-box-active {
  background-color: rgb(226, 226, 226);
}




.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.red-border {
  border: 1px solid red !important;
  box-shadow: 1px 1px 1px red;
}

.green-border {
  border: 1px solid rgb(47, 213, 47) !important;
  box-shadow: 1px 1px 1px rgb(47, 213, 47)
}


.question-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;

  .side-options {
    margin-left: 10px;
    width: 30px;
    color: #1b3e99;
    visibility: hidden;
    cursor: pointer;
  }

  &:hover {
    .side-options {
      visibility: visible;
    }
  }
}



:focus {
  outline: none;
}

.input-effect {
  position: relative;
}

input[type="text"],
select {
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: Roboto, FontAwesome;
}

.border-effect {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

.border-effect~.focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #1b3e99;
  transition: 0.4s;
}

.border-effect:focus~.focus-border {
  width: 100%;
  transition: 0.4s;
}

.section-summary {
  background-color: #e4e5f9;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.questions-summary {
  background-color: #eff2fa;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.question-summary {
  width: 30px;
  height: 30px;
  border: 1px solid #eee;
  background-color: white;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 8px;
  cursor: pointer;

  &.focused {
    border: 1px solid #1b3e99;
    background-color: #1b3e99;
    color: #fff;
    border-radius: 50%;
    font-weight: bold;
  }
}

:focus {
  outline: none;
}

.input-effect {
  position: relative;
}

input[type="text"],
select {
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: Roboto, FontAwesome;
}

.border-effect {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

.border-effect~.focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #1b3e99;
  transition: 0.4s;
}

.border-effect:focus~.focus-border {
  width: 100%;
  transition: 0.4s;
}