<div class="card mb-0">
    <div class="d-flex justify-content-between align-items-center p-3">
        <span class="title">Set Password</span>
        <i class="fa-regular fa-x pointer" (click)="close()"></i>
    </div>
    <hr class="m-0">
    <form #setPasswordForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="p-3">
            <div class="form-field">
                <label class="label">Password*</label>
                <input type="{{isPasswordVisible?'text':'password'}}" class="form-control" [(ngModel)]="data.password"
                    name="checkpassword" #checkpassword="ngModel" required
                    [ngClass]="{'is-invalid':checkpassword.touched && checkpassword.errors && checkpassword.errors['required']}">
                <i *ngIf="isPasswordVisible" (click)="isPasswordVisible=false"
                    class="fa-regular fa-eye input-icons"></i>
                <i *ngIf="!isPasswordVisible" (click)="isPasswordVisible=true"
                    class="fa-regular fa-eye-slash input-icons"></i>
                <p *ngIf="checkpassword.touched && checkpassword.errors && checkpassword.errors['required']"
                    class="validation-error">
                    Password is required
                </p>
                <p *ngIf="!isMaxErrorPasswordVisible()" class="validation-error ms-2">
                    Password must have 8 characters
                </p>
            </div>

            <div class="form-field mt-4">
                <label class="label">Confirm Password*</label>
                <input type="{{isConfirmPasswordVisible?'text':'password'}}" class="form-control" [(ngModel)]="password"
                    name="confirmpassword" #confirmpassword="ngModel" required
                    [ngClass]="{'is-invalid':confirmpassword.touched && confirmpassword.errors && confirmpassword.errors['required']}">
                <i *ngIf="isConfirmPasswordVisible" (click)="isConfirmPasswordVisible=false"
                    class="fa-regular fa-eye input-icons"></i>
                <i *ngIf="!isConfirmPasswordVisible" (click)="isConfirmPasswordVisible=true"
                    class="fa-regular fa-eye-slash input-icons"></i>

                <p *ngIf="confirmpassword.touched && confirmpassword.errors && confirmpassword.errors['required']"
                    class="validation-error">
                    Password is required
                </p>
                <p *ngIf="password!=data.password && password!.length>0 " class="validation-error ms-2">
                    <i class="fa-solid fa-circle-exclamation me-2"></i>
                    <span style="font-size: small;">Password does not match</span>
                </p>
                <span *ngIf="password==data.password && data.password!.length>0 && password.length>=8">
                    <span style="color: rgb(62, 179, 62);" class="ms-2 validation-error">
                        <i class="fa-solid fa-check me-2"></i>
                        <span style="font-size: small;">Password Match</span>
                    </span>
                </span>
            </div>
        </div>
        <hr class="m-0">
        <div class="d-flex justify-content-end p-3">
            <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
            <button type="submit" class="btn btn-primary ms-2">Save</button>
        </div>
    </form>
</div>