<div class="d-flex justify-content-between px-3 my-2">
    <p class="title">Notes</p>
    <button class="btn btn-primary" (click)="openAddNotes()" *ngIf="role!='STUDENT'"><i
            class="fa fa-plus-circle"></i>&nbsp;&nbsp;Add Notes</button>
</div>
<div class="card m-2 mt-3 p-4">
    <div class="d-flex justify-content-between">
        <div>
            <!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="toggleValue">
                <mat-button-toggle value="card">
                    <mat-icon color="primary">dashboard</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="table">
                    <mat-icon color="primary">table_rows_narrow</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group> -->
        </div>
        <div class="d-flex align-items-center" *ngIf="role!='STUDENT'">
            <div style="width: 300px;" class="mt-2 me-3">
                <div class="form-field">
                    <label class="label">Classes</label>
                    <select class="form-select w-100" name="class" [(ngModel)]="selectedClass" (change)="filterNotes()"
                        #class="ngModel">
                        <option *ngFor="let class of classes" [value]="class.id">{{class.name}}</option>
                    </select>
                </div>
            </div>
            <div style="width: 300px;" class="mt-2">
                <div class="form-field">
                    <label class="label">Subjects</label>
                    <select class="form-select w-100" name="subject" (change)="filterNotes()"
                        [(ngModel)]="selectedSubject" #subject="ngModel">
                        <option *ngFor="let subject of subjects" [value]="subject.id">{{subject.name}}</option>
                    </select>
                </div>
            </div>
            <div class="input-group flex-nowrap ms-3" style="max-width: 350px;">
                <span class="input-group-text">
                    <i class="material-icons icon">search</i>
                </span>
                <input placeholder="Search Notes" type="text" class="form-control" style="width: 150px;"
                    [(ngModel)]="filterNotestext" #searchNotes="ngModel" name="searchNotes" (keyup)="filterNotes()">
            </div>
        </div>
    </div>

    <div *ngIf="toggleValue == 'card'" class="row mt-2 pb-3" style="max-height: 69vh; overflow: auto;">
        <div class="col-3 my-2 px-4" *ngFor="let data of notes">
            <mat-card class="shadow mt-1">
                <div class="img-download">
                    <img mat-card-image class="w-100" [src]="'https://picsum.photos/200'" alt="image" height="135px">
                    <a *ngIf="role!='STUDENT'">
                        <button mat-icon-button title="Edit" (click)="editViewNotes(data.id!,'Edit')">
                            <mat-icon style="color: #8472FC;">edit_square</mat-icon>
                        </button>
                        <button mat-icon-button title="Delete" (click)="deleteNotes(data.id!)">
                            <mat-icon style="color: #fa5757;">delete</mat-icon>
                        </button>
                    </a>
                </div>

                <div class="row mt-2 mb-4 ps-2">
                    <div class="row">
                        <div class="col-5">
                            <span style="font-weight: 500;">Title</span>
                        </div>
                        <div class="col-6 ms-2">
                            <div [title]="data.title" class="ellipse">{{data.title}}</div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-5">
                            <span style="font-weight: 500;">Description</span>
                        </div>
                        <div class="col-6 ms-2">
                            <div [title]="data.description" class="ellipse">{{data.description}}</div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

    <div *ngIf="toggleValue == 'table'" class="row mt-4 px-3">
        <ngx-datatable #dataTable class="material striped" [rows]="filteredNotes" [headerHeight]="40"
            [footerHeight]="50" rowHeight="auto" [columnMode]="ColumnMode.force" [count]="10">
            <ngx-datatable-column name="#" [width]="70" [canAutoResize]="false">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span>{{ rowIndex + 1 }}</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Title" prop="title" [width]="200">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span>{{ value }}</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Class" prop="associationName" [width]="200" *ngIf="role!='STUDENT'">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <div class="d-flex align-items-center">
                        <span>{{ value }}</span>
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Subject" prop="subjectName" [width]="200">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span>{{ value }}</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Action" prop="id" [width]="200" cdsdsrfere>
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <div class="d-flex">
                        <i class="fa-solid fa-eye pointer" (click)="editViewNotes(value,'View')"></i>
                        <i class="fa-solid fa-pen-to-square pointer ms-3" style="color: #1b3e99;"
                            (click)="editViewNotes(value,'Edit')" *ngIf="role!='STUDENT'"></i>
                        <i class="fa fa-trash text-danger ms-3 pointer" (click)="deleteNotes(value)"
                            *ngIf="role!='STUDENT'"></i>
                    </div>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </div>
</div>