.form-control:focus {
  outline: none;
  box-shadow: none;
}

.heading{
  width: 200px;
  display: flex;
  justify-content: center;
  border-radius: 7px;
  padding: 10px;
}

.schedule{
  // border: 1px solid rgb(224, 223, 223);
  border-radius: 7px;
  margin-top: 10px;
}

.ellipse{
  width: auto;
  max-width: 100px;
}