<div class="colored-background">
    <div class="main-box">
        <div class="row m-0">
            <div>
                <div class=" row border shadow login-box p-0">
                    <div class="col-lg-6 d-none d-lg-block p-0 login-left-box" style="background-color: blue;">
                        <!-- <img class="img-fluid" style="object-fit: contain;" src="../../../../../assets/images/login.png"> -->
                    </div>
                    <div class="col-lg-6 col-sm-12 bg-white login-right-box">
                        <div class="d-flex align-items-center px-1" style="max-height: 15vh; min-height: 15vh;">
                            <div>
                                <span style="font-size: 3.7vh; color: gray;">Forgot Password</span><br>
                                <span>Sign in to connect and learn</span>
                            </div>
                        </div>
                        <div class="px-1">
                            <div>
                                <span style="font-size: 3.3vh; color: gray;">Sign In</span>
                            </div>
                            <form #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit()">
                                <div>
                                    <div class="form-field mt-4">
                                        <label class="label">Email*</label>
                                        <input type="text" class="form-control" name="mail" [(ngModel)]="email"
                                            #mail="ngModel" required
                                            [ngClass]="{'is-invalid':mail.touched && mail.errors && mail.errors['required']}">
                                        <p *ngIf="mail.touched && mail.errors && mail.errors['required']"
                                            class="validation-error ">
                                            Email is required
                                        </p>
                                    </div>

                                    <div class="d-flex justify-content-between mt-2">
                                        <div style="color: gray;">Remember Password?
                                            <span class="pointer" style="color: rgba(78, 78, 239, 0.625);"
                                                [routerLink]="'/auth/login'">Sign In</span>
                                        </div>
                                    </div>
                                    <div class="my-4">
                                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>