.logo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1b3e99;
    border-radius: 50%;
    height: 110px;
    width: 110px;
}

.org-logo {
    height: 108px;
    width: 108px;
    border-radius: 140px;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: contain;
}

.fa-circle-xmark {
    color: red;
    position: absolute;
    top: 3px;
    left: 80px;
    bottom: 0px;
    z-index: 20px !important;
    font-size: 18px;
    background-color: white;
    height: 18px;
    border-radius: 100%;
}

.fa-image {
    font-size: 50px;
    color: #1b3e99;
}

.empty-white-bg {
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 30%;
    border: 2px solid #1b3e99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-profilepic-overlay {
    display: none;
    color: #1b3e99;
    font-size: 18px;
    z-index: 10px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
}

.logo-card-img {
    border: 1px solid #1b3e99;
    border-radius: 140px;
    height: 110px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.logo-card-img:hover .edit-profilepic-overlay {
    display: block;
}

.logo-card-img:hover img {
    height: 90px;
    width: 90px;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}