.basic-info-card {
    background-color: white;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #E9EDF4;
    box-shadow: 0px 4.4px 12px -1px rgba(222, 222, 222, 0.3607843137);

}

.profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 5px;
    object-fit: contain;
    border: 1px solid #E9EDF4;
}

.basic-info {
    display: flex;
    flex-direction: column;

    .name {
        font-weight: bold;
        font-size: 15px;
        color: #1e1e1e;
    }
}

.info {
    border-top: 1px solid #E9EDF4;

    .info-heading {
        color: #1e1e1e;
        font-size: 18px;
        font-weight: bold;
    }

    .basic-heading {
        color: #1e1e1e;
        font-weight: bold;
    }
}

.contact-icon {
    width: 32px;
    height: 32px;
    background-color: #F8FAFC;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info {
    display: flex;
    flex-direction: column;

    .contact-heading {
        font-weight: bold;
        color: #1e1e1e;
    }
}









.time-table-div {
    width: 100%;
    border: 1px solid #E9EDF4;
    box-shadow: 0px 4.4px 12px -1px rgba(222, 222, 222, 0.3607843137);
    border-radius: 10px;
}

.heading {
    width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    padding: 10px;
}

.schedule {
    border-radius: 7px;
    margin-top: 10px;
}

.ellipse {
    width: auto;
    max-width: 100px;
}