<div class="d-flex justify-content-between px-3 my-2">
    <p class="title">{{assignmentName}} Submit List</p>
</div>
<div class="card m-2 mt-3 p-4">
    <div class="d-flex justify-content-between">
        <div>
            <!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="toggleValue">
                <mat-button-toggle value="card">
                    <mat-icon color="primary">dashboard</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="table">
                    <mat-icon color="primary">table_rows_narrow</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group> -->
            <span style="font-size: 15px;" *ngIf="remainingStudent.remainingStudent">Reamining Student:
                {{remainingStudent.remainingStudent}}</span>
        </div>
        <div>
            <div class="input-group flex-nowrap">
                <span class="input-group-text">
                    <i class="material-icons icon">search</i>
                </span>
                <input placeholder="Search Student" type="text" class="form-control" style="width: 350px;"
                    [(ngModel)]="filterStudentText" #searchStudent="ngModel" name="searchStudent"
                    (keyup)="filterStudents()">
            </div>
        </div>
    </div>

    <div *ngIf="toggleValue == 'card'" class="row mt-2 pb-3" style="max-height: 69vh; overflow: auto;">
        <div class="col-3 my-2 px-4" *ngFor="let data of filteredStudents">
            <mat-card class="shadow mt-1">
                <div class="img-download">
                    <!-- <img mat-card-image class="w-100" [src]="data.photoUrl" style="object-fit: cover;" alt="image"
                        height="135px"> -->
                    <a>
                        <!-- <button mat-icon-button title="Edit" (click)="editTeacher(data.id!)">
                            <mat-icon style="color: #8472FC;">edit_square</mat-icon>
                        </button>
                        <button mat-icon-button title="Delete" (click)="deleteTeacher(data.id!)">
                            <mat-icon style="color: #fa5757;">delete</mat-icon>
                        </button> -->
                    </a>
                </div>

                <div class="row mt-2 mb-4 ps-2">
                    <div class="row">
                        <div class="col-5">
                            <span style="font-weight: 500;">Name</span>
                        </div>
                        <div class="col-6 ms-2">
                            <div [title]="data.name" class="ellipse">{{data.name}}</div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-5">
                            <span style="font-weight: 500;">Phone</span>
                        </div>
                        <div class="col-6 ms-2">
                            <div [title]="data.phone" class="ellipse">{{data.phone}}</div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

    <div *ngIf="toggleValue == 'table'" class="row mt-4 px-3">
        <ngx-datatable #dataTable class="material striped" [rows]="filteredStudents" [headerHeight]="40"
            [footerHeight]="50" rowHeight="auto" [columnMode]="ColumnMode.force" [count]="10">
            <ngx-datatable-column name="#" [width]="70" [canAutoResize]="false">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span>{{ rowIndex + 1 }}</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Student Id/ Username" prop="studentId" [width]="200">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span>{{ value }}</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Name" prop="name" [width]="200">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <div class="d-flex align-items-center">
                        <!-- <img *ngIf="row.photoUrl" class="profile-img" [src]="row.photoUrl" />
                        <img *ngIf="!row.photoUrl" class="profile-img"
                            src="https://placehold.jp/23/000000/ffffff/60x60.png?text=no+img"> -->
                        <span>{{ value }}</span>
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Email" prop="email" [width]="200">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span>{{ value }}</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Marks Obtained" prop="obtainMarks" [width]="200">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span>{{ value }}</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Status" prop="assignmentStatus" [width]="200">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span [ngClass]="value=='Pending'?'text-danger':'text-success'">{{
                        value=='PENDING'?'Pending':'Examined' }}</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Action" prop="id" [width]="200">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <div>
                        <i class="fa-solid fa-pen-to-square pointer ms-3" style="color: #1b3e99;"
                            [routerLink]="'/app/class/assignment/examine/'+ assignmentId +'/'+ row.userId +'/'+ row.name"></i>
                    </div>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </div>
</div>