.file-list {
  display: flex;
  padding: 7px;
  // border: 1px solid rgb(183, 183, 183);
  border-radius: 7px;
  // height: 50px;
  // width: 100%;
  // max-width: 100%;
  overflow: auto;
   
}


.file-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid rgb(194, 193, 193);
  border-radius: 7px;
  //  max-width: 200px;
}

.file-item span:hover {
  text-decoration: underline;
}

.ellipse{
 max-width: 165px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  white-space: nowrap;
}

.drop-down {
    background-color: white;
    border: solid;
    border-width: 1px;
    border-radius: 6px;
}