.timer{
    width: 140px;
    height: 38px;
    border: 1px solid rgb(211 210 210);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5a5959;
    background-color: rgb(235 235 235);
}

.question-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: rgb(192, 192, 252);
    border-top: 2px solid rgb(166, 165, 165);
    border-bottom: 2px solid rgb(166, 165, 165);
}

.sml{
height: 30px;
    font-size: 12px;
    padding: 5px 3px;
    min-width: 90px;
}

.question-number-details{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 8px;
    color: #282828;
    border-bottom: 1px solid rgb(166, 165, 165);
}

.time-and-mark-box{
    font-size: 13px;
    background-color: #e4e3e3;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 7px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: center;
    color: #7e7e7e;
}

.question{
    padding: 10px;
}

.options{
    display: flex;
    align-items: center;
    font-size: 17px;
    padding: 10px 2px;
    border-bottom: 1px solid rgb(229, 227, 227);
}

.options:hover{
    background-color: #f1f1f1;
}

.question-bottom{
      border-top: 1px solid rgb(229, 227, 227);
    padding: 7px 10px;
}

.review-details{
    background-color: #1b3e99;
    color: white;
}

.number-section{
    background-color: rgb(211, 211, 211);
    height: 35px;
    padding: 7px 10px
}

.question-numbers-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
}

.question-number{
    width: 45px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid black;
    cursor: pointer;
    // background-color: white;
}

.instruction-btn{
    background-color: #cbd8f8;
    color: #487bfd;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.sections{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 45vw;
    overflow: auto;
}

.section{
    color: black;
    width: 100%;
    white-space: nowrap;
    padding: 0px 27px;
}

.selected-section{
    background-color: #1b3e99;
    color: white;
    border-radius: 7px;
    padding: 4px 6px;
}

.attemped{
    background-color: #58BB77;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 7px;
    color: white
}

.marked{
    background-color: #E3C856;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 7px;
    color: black;
}

.not-visited{
    background-color: white;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 7px;
    color: black;
}

.not-answered{
    background-color: #DD5650;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 7px;
    color: white;
}

.markedAndAnswered{
    background-color: #E3C856;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 7px;
    color: black;
    position: relative;
}

.check{
    position: absolute;
    right: -7px;
    top: -6px;
    font-size: 19px;
    font-weight: 600;
    color: #3DA06D;
}
