.profile-img{
     border-radius: 50%;
    height: 130px;
    width: 130px;
    border: 1px solid rgb(226 221 221);
}

.institute-logo{
    border-radius: 6px;
    height: 60px;
    width: 130px;
    object-fit: contain;
    border: 1px solid rgb(237 237 237);
}

.work-schedule {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.date-range {
  font-weight: bold;
}

.schedule {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.day {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
}

.day.weekend {
  background-color: #f0f8ff;
}

.timer-display{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 20px;
  letter-spacing: 4px;
}

.day.holiday {
  background-color: #ffe4e1;
}

.hours {
  font-size: 14px;
  color: #333;
}

.check-out-button{
  color: red;
  border: 1px solid red;
  min-width: 115px;
}

.present-button{
  color: green;
  border: 1px solid green;
  min-width: 115px;
}

.attendance{
    color: #9fa5ff;
    background-color: rgb(243 243 255);
}

.icon{
    font-size: 26px;
    margin: 5px 10px 0px 0px !important;
    border-radius: 5px;
    width: 50px !important;
    justify-content: center;
    height: 40px;
    display: flex;
    align-items: center;
}

.time-table{
  color: #e66ff7;
  background-color: rgb(250 243 248);
}

.schedule{
  min-width: 200px;
  max-width: 200px;
  border-radius: 7px;
  margin-top: 10px;
  display: block;
  margin-right: 15px;
}

.ellipse{
  width: auto;
  max-width: 100px;
}

.ellipse-holiday{
  width: auto !important;
  max-width: 150px !important;
}

.holiday-box{
  width: 100%;
  border-radius: 7px;
  height: 50px;
  display: flex;
  padding: 0px 7px;
  color: rgb(126, 126, 126);
  align-items: center;
  margin-top: 10px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.btn-present{
    color: #8cf68c;
    min-width: 80px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #8cf68c;
}


.btn-absent{
    color: #f63e3e;
      min-width: 80px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #f63e3e;
}

.btn-leave{
    color: #ffc864;
      min-width: 80px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #ffc864;
}

.present{
  min-width: 120px;
  height: 35px;
  letter-spacing: 1.5px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8cf68c;
  border: 1px solid #8cf68c;
  border-radius: 7px;
}

.absent{
    min-width: 120px;
  height: 35px;
  letter-spacing: 1.5px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f63e3e;
  border: 1px solid #f63e3e;
  border-radius: 7px;
}

.admin-cards:hover{
  transition: all 0.5s ease;
  transform:translateY(-4px) ;
}

