.username {
    font-size: 14px;
    font-weight: 500;
    color: #1d1d1d;
    margin-bottom: 3px;
}

.user-role {
    line-height: 1.2;
    font-size: 12px;
    font-weight: 500;
    color: #1b3e99 !important;
}