.selected-border {
  border-left: 5px solid #1b3e99;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.long-answer {
  border: none;
  border-bottom: 1px solid #cfcfcf;
  margin-top: 10px;
  border-radius: 0px;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}



:focus {
  outline: none;
}

.input-effect {
  position: relative;
}

input[type="text"],
select {
  font: 15px;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: Roboto, FontAwesome;
}

.border-effect {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

.border-effect~.focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #1b3e99;
  transition: 0.4s;
}

.border-effect:focus~.focus-border {
  width: 100%;
  transition: 0.4s;
}

.radio-icon {
  height: 18px;
  width: 18px;
  font-size: 18px;
}

.close-icon {
  height: 20px;
  width: 20px;
  font-size: 20px;
}

.add-option {
  color: #9ca0a3;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #9ca0a3;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform: translate3d(-100%, 0, 0);
  }

  &:hover {
    &::after {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

.ans-border {
  color: #9ca0a3;
  border-bottom: 1px dotted #9ca0a3;
  width: 100%;
  display: block;
  padding-bottom: 5px;
}