/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
// @include mat.all-legacy-component-typographies();
@include mat.core();

$template-primary: mat.define-palette(mat.$indigo-palette);
$template-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$template-warn: mat.define-palette(mat.$red-palette);

$template-theme: mat.define-light-theme((color: (primary: $template-primary,
                accent: $template-accent,
                warn: $template-warn,
            ),
        ));
@include mat.all-legacy-component-themes($template-theme);
@import "/src/assets/scss/lms-teme.scss";
@import '~material-icons/iconfont/material-icons.css';
@import "node_modules/ngx-toastr/toastr";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// @import '~@swimlane/ngx-datatable/assets/icons.css';

body {
    font-family: "Roboto", sans-serif;
}


.datatable-header {
    align-items: center;
    display: flex;

    .datatable-header-cell-label {
        font-size: 14px !important;
        font-weight: bold !important;
        overflow-x: visible !important;

        color: $primarycolor !important;
        font-family: sans-serif !important;
    }
}

.datatable-body {

    .datatable-body-row {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);

        .datatable-body-cell {
            font-size: 14px !important;
            overflow-x: visible !important;
            color: #696767 !important;
            font-family: sans-serif !important;
        }
    }

    .datatable-body-row>div {
        align-items: center;
    }
}

.ngx-datatable {
    padding-top: 0;
}

body {
    background-color: #F5F7FA;
}

.label {
    position: absolute;
    top: -11px;
    left: 10px;
    background-color: white;
    padding: 0px 2px 0px 2px;
    color: gray;
}

.form-field {
    position: relative;
    padding-bottom: 7px;
}


body {
    font-size: 0.9rem
}

.main-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.colored-background {
    background-color: #d8d2fb;
}

@media only screen and (max-width: 420px) {
    body {
        font-size: 0.8em;
    }

    .main-box {
        display: block;
        height: 50vh;
        margin: 1px 10px 0px 10px;
        margin-top: 16vh;
    }

    .label {
        position: absolute;
        bottom: 4.2vh;
        left: 10px;
        background-color: white;
        padding: 0px 2px 0px 2px;
        color: gray;
    }

    .colored-background {
        background-color: white;
    }

    .form-control {
        height: 5.6vh;
    }


    .btn {
        height: 5.6vh;
    }

    .input-icons {
        top: 13px;
        font-size: 14px;
    }
}




.form-control {
    width: 100%;
    height: 40px;
    color: rgb(67, 65, 65);
}

.form-select {
    width: 100%;
    height: 40px;
    color: rgb(67, 65, 65);
}

.btn {
    height: 40px;
    font-size: 14px;
}

.btn-primary {
    background-color: $primarycolor;
    color: white;
    min-width: 115px;
    border: none;
}

.btn-primary:hover {
    background-color: #16327A;
}

.btn-secondary {
    border: 1px solid gray;
    color: white;
    min-width: 115px;
}

.input-icons {
    position: absolute;
    bottom: 13px;
    right: 13px;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.login-box {
    min-width: 55vw;
    //    max-width: 55vw;
    //    min-height: 60vh;
    border-radius: 8px;
}

.login-heading {
    max-height: 20vh;
    min-height: 20vh;
}

.login-right-box {
    border-radius: 0px 8px 8px 0px;
}


.page-wrapper {
    margin-left: 230px;
    margin-right: 10px;
    padding-top: 68px;
    position: relative;
    @include transition(all 0.4s ease);

    @include respond-below(custom1199) {
        margin-left: 200px;
    }

    .content {
        @include margin-padding(null, 25px 25px 10px 25px);

        @include respond-below(custom1199) {
            @include margin-padding(null, 20px);
        }

        @include respond-below(custom991) {
            @include margin-padding(null, 15px);
        }
    }

    @include respond-below(custom991) {
        margin: 0;
        padding-top: 60px;
    }
}

.title {
    font-weight: 500;
    font-size: 20px;
    color: #333333;
}

.form-control.is-invalid {
    background-image: none;
}

.validation-error {
    color: rgb(254, 54, 54);
    margin-left: 5px;
    margin-top: 3px;
    font-size: 12px;

}

.ellipse {
    width: 165px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    white-space: nowrap;
}


.img-download {
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img-download>a {
    position: absolute;
    background: white;
    bottom: 2px;
    right: 0;
    opacity: 0.9;
}

.mat-icon.mat-primary {
    color: $primarycolor;
}

mat-card {
    border-radius: 10px;
}

.course-dropdown-menu {
    position: absolute;
    background-color: white;
}

.mat-button-toggle-group {
    height: 40px;
    align-items: center;
}

.card {
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 31px 3px rgb(44 50 63 / 2%);
    margin-bottom: 1.875rem;
}

.card-table {
    .card-body .table>thead>tr>th {
        border-top: 0;
    }

    .table tr td:first-child,
    .table tr th:first-child {
        padding-left: 1.5rem;
    }

    .table tr {
        height: 20px;
    }
}


.card-table .card-body .table tr td:last-child,
.card-table .card-body .table tr th:last-child {
    padding-right: 1.5rem;
}

.card-table .table td,
.card-table .table th {
    border-top: 1px solid #e2e5e8;
    padding: 0.25rem 0.25rem;
    white-space: nowrap;
}

.actions {
    display: flex;
    justify-content: end;
}

.centered-header {
    display: flex;
    align-items: center;
    //   height: 46px;
}

th {
    height: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.department-box {
    height: 24px;
    border: 1px solid gray;
    border-radius: 8px;
    max-width: 100px;
    margin-top: 7px;
    display: flex;
    align-items: center;
    font-size: 10px;
}

.department-text {
    max-width: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.validation-error {
    position: absolute;
}

.mdc-tab-indicator .mdc-tab-indicator__content--underline {
    color: $primarycolor;
}

html::-webkit-scrollbar {
    width: 10px !important;
}

html::-webkit-scrollbar-track {
    background: black;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

html::-webkit-scrollbar-thumb {
    background: red;
    border: 3px solid blue;
}


.mat-expansion-panel-body {
    padding: 20px !important;
    padding-bottom: 0 !important;
    background-color: #F5F7FA;
}