.container{
    width: 100%;
    padding: 3% 8%;
    color: rgb(16, 16, 16);
    font-size: 15px;
    font-family: 'circular'
}

.main-heading{
    font-size: 26px;
    font-weight: 600;
}

.heading{
    font-size: 20px;
    font-weight: 600;
}

.sub-heading{
    font-size: 16px;
    font-weight: 600;
}