<div class="card mb-0">
    <div class="title d-flex justify-content-between p-3">
        <div>{{status}} {{isDepartment ? 'Department' : 'Course'}}</div>
        <div><i class="fa-solid fa-x pointer" (click)="close()"></i></div>
    </div>
    <hr class="m-0">

    <form #courseDeptForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="p-3">
            <div class="row">
                <div class="col-6">
                    <div class="form-field mt-2">
                        <label class="label">Name</label>
                        <input type="text" class="form-control" name="courseDeptName" [(ngModel)]="model.name"
                            #courseDeptName="ngModel" required
                            [ngClass]="{'is-invalid':courseDeptName.touched && courseDeptName.errors && courseDeptName.errors['required']}">
                        <p *ngIf="courseDeptName.touched && courseDeptName.errors && courseDeptName.errors['required']"
                            class="validation-error">
                            Name is required
                        </p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-field mt-2">
                        <ng-container *ngIf="isDepartment">
                            <label class="label">HOD</label>
                            <select class="form-select w-100" [(ngModel)]="model.hodId" name="hod" #hod="ngModel">
                                <option value="">
                                    1
                                </option>
                            </select>
                        </ng-container>
                        <ng-container *ngIf="!isDepartment">
                            <label class="label">Duration</label>
                            <input type="number" class="form-control" name="duration" [(ngModel)]="model.duration"
                                #duration="ngModel" required
                                [ngClass]="{'is-invalid':duration.touched && duration.errors && duration.errors['required']}">
                            <p *ngIf="duration.touched && duration.errors && duration.errors['required']"
                                class="validation-error ">
                                Duration is required
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-field mt-4">
                        <label class="label">Code</label>
                        <input type="text" class="form-control" name="name" [(ngModel)]="model.code" #code="ngModel">
                    </div>
                </div>
                <div class="col-6">
                    <div></div>
                </div>
                <div class="mt-4 row d-flex justify-content-start align-items-center">
                    <div *ngIf="branches.length > 0" class="col-5">
                        <div class="form-field">
                            <label class="label">Branch</label>
                            <select class="form-select" [(ngModel)]="selectedBranchId" name="branch" #branch="ngModel"
                                (change)="onBranchSelected()">
                                <option *ngFor="let branch of branches" [value]="branch.id">
                                    {{branch.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="(selectedBranchId || branches.length == 0) && courseDeptDropDown.length > 0"
                        class="col-5">
                        <div class="form-field">
                            <label class="label">{{dropDownPlaceholder}}</label>
                            <mat-select class="form-select" name="item" [(ngModel)]="selectedItemIds" multiple>
                                <div class="drop-down">
                                    <mat-option *ngFor="let item of courseDeptDropDown"
                                        [value]="item.id">{{item.name}}</mat-option>
                                </div>
                            </mat-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="m-0">
        <div class="d-flex justify-content-end p-3">
            <button type="button" class="btn btn-secondary me-2" (click)="close()">Cancel</button>
            <button type="submit" class="btn btn-primary">{{status=='Add'?'Add':'Update'}}</button>
        </div>
    </form>
</div>